 
  
    .card { position: relative; border-radius: 1rem; padding-top: 40px; }
    .inner-card { 
      background: #1c1f4a; 
      padding: 1.5rem; 
      border-radius: 0.8rem; 
      position: relative; 
      top: 20px;
    }
    .card h2 { font-size: 2.5rem; color: white; }
    .card p { color: white; }